<template>
    <div>
         
    <nav>
      
      <div class="main">
        <div class="menu">
          <a href="https://ibb.co/ZWDCqBk"><img src="https://i.ibb.co/ZWDCqBk/music-Logo-1.png" alt="music-Logo-1"></a>
    <title>Create Playlist</title>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="btnopen">Upload Music</button>
    <div class="container mt-5">
        
        <div class="container mt-5">

            <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Upload Music</h5>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-3">
                        <div id="uploading">upload your files here</div>
                      </div>
    
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="create">Upload</button>
                    <button type="submit" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
 <a  href ="#">All Song</a>
    <title>Create Playlist</title>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal2" id="btnopen">Create Playlist</button>
    <div class="container mt-5">
        
        <div class="modal" id="myModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Create a Playlist</h5>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <input type="email" class="form-control">
                            </div>
                    
                        </form>
                    </div>
                   <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="create">Create</button>
                        <button type="submit" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
   
          <a  href ="#">Playlist 1</a>
          <a  href ="#">Playlist 2</a>
          <a  href ="#">Playlist 3</a>
          <a  href ="#">Playlist 4</a>
           </div>   
        
          </div>
          
    </div>
    
        </div>
             <div class="toppper"></div>

      </div>
         
    </nav>
    
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
        <div class="topnav"></div>
      </label>
      <ul>
        <div class="wrap">
          <div class="search">
             <input type="text" class="searchTerm" placeholder="search.....">
             <button type="submit" class="searchButton">
               <i class="fa fa-search"></i>
            </button>
          </div>
       </div>
      </ul>
    <body style="background-color:rgb(160, 160, 160);"></body>
    <div class="player">
      <div class="wrapper">
          <div class="details">
              <div class="now-playing"></div>
              <div class="track-art"></div>
              <div class="track-name">Isa pang ikaw</div>
              <div class="track-artist">Justine Vasquez</div>
          </div>

          <div class="slider_container">
              <div class="current-time">00:00</div>
               <input type="range" min="1" max="100" value="0" class="seek_slider" onchange="seekTo()">
               <div class="total-duration">04:35</div>
          </div>

          <div class="buttons">
              <div class="random-track" onclick="randomTrack()">
                  <i class="fas fa-random fa-2x" title="random"></i>
              </div>
              <div class="prev-track" onclick="prevTrack()">
                   <i class="fa fa-step-backward fa-2x"></i>
               </div>
               <div class="playpause-track" onclick="playpauseTrack()">
                   <i class="fa fa-play-circle fa-5x"></i>
               </div>
               <div class="next-track" onclick="nextTrack()">
                   <i class="fa fa-step-forward fa-2x"></i>
               </div>
               <div class="repeat-track" onclick="repeatTrack()">
                   <i class="fa fa-repeat fa-2x" title="repeat"></i>
               </div>
          </div>
          <div class="filter">

          </div>
          <table>
      
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Duration</th>
            </tr>
            
            <tr>
                <td><i class="bi bi-play-fill"></i></td>
                <td>FRAULINE</td>
                <td>Victor Wood</td>
                <td>Old but gold</td>
                <td>3:07</td>
            </tr>
            <tr>
              <td><i class="bi bi-play-fill"></i></td>
              <td>Isa pang ikaw</td>
              <td>Justine Vasquez</td>
              <td>OPM</td>
              <td>4:35</td>
          </tr>
            <tr>
                <td><i class="bi bi-play-fill"></i></td>
                <td>Your Song</td>
                <td>Parokya ni edgar</td>
                <td>OPM</td>
                <td>3:39</td>
            </tr>
        </table>
        </div>
      </div>
    </div>
</template>

<script>
export default {
    name: 'musica',
    components:{

    },
    data(){
        return{

        }
    }
}
</script>


<style scoped>
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
    
  .main{
     width: 100%;
     height: 150vh;
     display: flex;
     text-align: center;
   
  }
  .menu{
    width: 30%;
    background-color: rgb(201, 201, 201);
    
  }
  .menu a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-size: 12px;
    letter-spacing: 2px;
    display: list-item;
    padding: 20px;
    

  }
  .menu a:hover{
    transition: 0.5s;
      letter-spacing: 4px;
      text-transform: uppercase;
      background: #266d52;
  }
  img.resize {
    width:200px;
    height:40px;
  }
  img.resize {
    max-width:50%;
    max-height:50%;
  }

  body{
    font-family: montserrat;
  }
 
  nav{
    background-color:rgb(160, 160, 160);
    height: 100%;
    width: 100%;
    
  }
  .toppper{
    background: #366154;
    height: 50px;
    width: 70%;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
 
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
      
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background-size: cover;
    height: calc(100vh - 80px);
  }
  body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #1b6437;
    border-right: none;
    padding: 5px;
    height: 38px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #000000;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #0d0f0f;
    background: #8f8f8f;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{
    width: 30%;
    position: absolute;
    top: 17%;
    left: 48%;
    transform: translate(-50%, -50%);
  }
  .wrapper{
    width: 30%;
    position: absolute;
    top: 115%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
.now-playing{
font-size: 1.5rem;
}
.track-name{
font-size: 1.9rem;
}
.track-artist{
margin-top: 10px;
font-size: 1rem;

}
.buttons{
display: flex;
flex-direction: row;
align-items: center;
margin-bottom: 20px;
}
.active{
color: rgb(165, 165, 165);
}
.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track{
padding: 25px;
opacity: 0.8;
transition: opacity .2s;
}
.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover{
opacity: 1.0;
}
.slider_container{
display: flex;
justify-content: center;
align-items: center;
}
.seek_slider,
.volume_slider{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
height: 5px;
background: #83a9ff;
-webkit-transition: .2s;
transition: opacity .2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb{
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
width: 15px;
height: 15px;
background: white;
border: 3px solid #3774ff;
cursor: pointer;
border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover{
opacity: 1.0;
}
.seek_slider{
width: 60%;
}


.current-time,
.total-duration{
padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up{
padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward{
cursor: pointer;
}
.randomActive{
color: rgb(168, 168, 168);
}
.rotate{
animation: rotation 8s infinite linear;
}
@keyframes rotation{
from{
 transform: rotate(0deg);
}
to{
 transform: rotate(359deg);
}
}
.loader{
height: 70px;
display: flex;
justify-content: center;
align-items: center;
}
.loader .stroke{
background: #f1f1f1;
height: 150%;
width: 10px;
border-radius: 50px;
margin: 0px 5px;
animation: animate 1.4s linear infinite;
}
@keyframes animate{
50%{
 height: 20%;
 background: #4286f4;
}
100%{
 height: 100%;
}
}
.stroke:nth-child(1){
animation-delay: 0s;
}
.stroke:nth-child(2){
animation-delay: 0.3s;
}
.stroke:nth-child(3){
animation-delay: 0.6s;
}
.stroke:nth-child(4){
animation-delay: 0.9s;
}
.stroke:nth-child(5){
animation-delay: 0.6s;
}
.stroke:nth-child(6){
animation-delay: 0.3s;
}
.stroke:nth-child(7){
animation-delay: 0s;
}
.modal-header {
  background: #1d5e45;
  color: #fff;
}

.required:after {
  content: "*";
  color: rgb(255, 255, 255);
}
#create{
  color: #fff;
  background: #505050;
  border: #2bfae9;
}
#cancel{
  color: black;
  background: #fff;
  border: #fff;
}
.modal-footer{
  background: #248165;
  border: #211d1e;
}
.modal-body{
  background: #248165;
}
#btnopen{
  background: transparent;
  color: #000000;
  border: #fff;
}

table{
 position: absolute;
 z-index: 2;
 left: 50%;
 top: -70%;
 transform: translate(-50%,-50%);
 width: 65%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;

}
td , th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #366154;
 color: #fafafa;
 font-family: 'Open Sans',Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #c2c2c2;
 font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
 background-color: #818181;
}


</style>