<template>
  <div id="app">
   <musica/>
  </div>
</template>

<script>
import musica from  './components/musica.vue';

export default {
  name: 'App',
  components: {
    musica
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
</style>
